{% extends "base.html" %}
{% load navigation_tags wagtailimages_tags wagtailcore_tags%}
{% block content %}



{% image self.image fill-300x200 as blog_img %}

<div class="container">
    <div>{{self.creator}}</div>
</div>

<div class="container">
    <div class="row">
        
            {% block image%}
                <div class="thumbnail">
                    <img src="{{ blog_img.url }}" alt="Lights"/>
                </div>
            {% endblock image%}
    </div>

    <div class="row">
        
        <div class="col-sm-4">
            {% if page.authors %}
            <div class="row photo_avatars">
                {% for author, comment in page.authors %}
                    <div class="col-sm-2">{% image author.image fill-50x50-c100 class="photo_avatar" %}</div>
                    <div class="col-sm-5">{{ author.username }}:</div>
                    <div class="col-sm-4">{{ comment | richtext }}</div> 
                {% endfor %}
            </div>
            {% else %}
            <div class="row"> No comments yet</div>
            {% endif%}
        </div>

        <div class="col-sm-6 col-sm-offset-2">

            <div class="row thumbnail">
                <img src="/media/images/facebook-like-icon-20.jpeg" style="width:80px;display:inline" />
                <span class="blog-tags__pill"> {{ page.likes }} </span>
            </di>
            
            {% if page.get_tags %}
            <div>
                <p class="photo__tag-introduction">Find more photo posts with similar tags:</p>
            </div>
                
            <div class="blog-tags blog-tags--condensed row">
                <span class="u-sr-only">Filter blog posts by tag</span>
                {% for tag in page.get_tags %}
                <a href="{{ tag.url }}" class="blog-tags__pill">{{ tag }}</a>
                {% endfor %}
            </div>
        {% endif %}
        </div>

    </div>

</div>

    

  </div>
</div>

{% endblock content %}
