/* The bakery demo avoids using tooling so doesn't use SASS. This is a static */
/* CSS file that extends Bootstrap. It's deliberately verbose to aid          */
/* readability with global themes, themes for each list view and themes for   */
/* each detail view                                                           */
/* 1. Global styles --------------------------------------------------------- */
/* 2. Page header ----------------------------------------------------------- */
/* 3. Main menu ------------------------------------------------------------- */
/* 4. Breadcrumb ------------------------------------------------------------ */
/* 5. Location styles ------------------------------------------------------- */
/* 6. Blog styles ----------------------------------------------------------- */
/* 7. Bread styles ---------------------------------------------------------- */
/* 8. Form styles ----------------------------------------------------------- */
/* 9. Homepage styles ------------------------------------------------------- */
/* 9. Miscellaneous/ Helper styles ------------------------------------------ */

/* Global styles */
/* CSS Variables */
:root {
  --dark: #333333;
  --grey: #6e6e6e;
  --border-grey: #E1DCD3;
  --transparent-border: rgba(135, 116, 79, 0.25);
  --white: #ffffff;
  --cream: #f5f3e9;
  --light-brown: #87744f;
  --mid-brown: #825600;
  --dark-brown: #553801;
  --orange: #c55302;
  --dark-orange: #833701;
  --font--primary: "Marcellus", serif;
  --font--secondary: "Open Sans", sans-serif;
  --font-sm: 1rem;
  --font-md: 1.125rem;
}

html {
  font-size: 16px;
}

[hidden] {
  display: none !important;
}

adings and Paragraphs */

h1,
h2,
h3 {
  font-family: var(--font--primary);
  font-weight: 400;
  color: var(--dark);
}

h1 {
  font-size: 2.375rem;
  line-height: 1.16;
}

h2 {
  font-size: 2rem;
  line-height: 1.25;
}

h3 {
  font-size: 1.625rem;
  line-height: 1.15;
}

h4 {
  font-family: var(--font--secondary);
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.35;
  color: var(--dark);
}

p {
  font-family: var(--font--secondary);
  font-style: normal;
  font-weight: 400;
  font-size: var(--font-sm);
  line-height: 1.5;
  color: var(--dark);
}

@media (min-width: 768px) {
  body {
    font-size: var(--font-md);
    line-height: 1.55;
  }

  h1 {
    font-size: 3.75rem;
    line-height: 1.07;
  }

  h2 {
    font-size: 2.875rem;
    line-height: 1.09;
  }

  h3 {
    font-size: 2rem;
    line-height: 1.31;
  }

  h4 {
    font-size: 1.5rem;
    line-height: 1.38;
  }

  p {
    font-size: var(--font-md);
    line-height: 1.55;
    margin: 0 0 30px;
  }
}

ol,
ul {
  margin-bottom: 30px;
}

.hero h1 {
  color: var(--white);
  position: relative;
}

@media (min-width: 768px) {
  .intro {
    font-size: 1.875rem;
    margin: 0 0 60px;
  }
}

/* Links, Lists, Figures */

a,
a:focus,
a:visited {
  color: var(--orange);
  text-decoration: none;
}

a:hover {
  color: var(--dark-orange);
  text-decoration: none;
}

a.btn {
  background-color: var(--orange);
  color: var(--white);
  display: inline-block;
  font-family: var(--font--secondary);
  font-size: var(--font-md);
  line-height: 1.55;
  font-weight: 700;
  padding: 15px 20px;
}

a.btn:hover {
  background-color: var(--grey);
  color: var(--white);
}

a.btn-sm {
  border-radius: 4px;
  font-size: 1rem;
  line-height: normal;
  padding: 6px 8px;
}

ul {
  margin: 0 0 30px;
}

@media (min-width: 768px) {
  ul {
    margin: 0 0 50px;
  }
}

figure {
  margin: 30px 0;
  position: relative;
}

@media (min-width: 768px) {
  figure {
    margin: 40px 0;
  }
}

figcaption {
  color: var(--grey);
  font-family: var(--font--secondary);
  font-size: 0.875rem;
  line-height: 1.57;
  padding-top: 10px;
}

@media (min-width: 768px) {
  figcaption {
    font-size: var(--font-sm);
    line-height: 1.5;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

figure img {
  display: block;
  width: 100%;
  height: auto;
}

/* Generic detail page styles */
.intro {
  font-family: var(--font--secondary);
  font-weight: 300;
  margin: 0 0 40px;
  font-size: 1.375rem;
}

.alert {
  margin: 40px auto 0 auto;
  max-width: 1400px;
  border-radius: 0;
  background-color: var(--orange);
  color: var(--white);
  padding: 40px 40px;
}

.alert > .alert__title {
  color: var(--white);
  font-family: var(--font--primary);
  font-size: 1.625rem;
  margin-bottom: 5px;
}

.alert__messages {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

